:root {
    --primary: #8c38ff;
    --light: #eee;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}